.css-animate.multicol-text .multicol-text__text {
  opacity: 0;
  transform: translateY(70px);
}

.css-animate--start.multicol-text .multicol-text__text {
  opacity: 1;
  transform: translateY(0);
  transition: all 1.5s;
  transition-delay: 0.7s;
}
