.css-animate .person-grid__item {
  opacity: 0;
  transform: translateX(-100px);
}

.css-animate--start .person-grid__item {
  opacity: 1;
  transform: translateX(0);
  transition: all 1.5s;
  transition-delay: 0.5s;

  &:nth-child(2) {
    transition-delay: 0.7s;
  }

  &:nth-child(3) {
    transition-delay: 0.9s;
  }
}
