.article {
  padding-top: 40px;

  @include respond-min($screen-sm) {
    padding-top: 60px;
  }

  @include respond-min($screen-md) {
    padding-left: 145px;
    padding-right: 100px;
  }
  
}

.article__content {
  @include respond-min($screen-sm) {
    display: flex;
    gap: 70px;
  }

  @include respond-min($screen-md) {
    gap: 150px;
  }
}

.article__headline {
  @extend .text-section__headline, .text-section__headline--lg;
  color: $color-main;
}

.article__text {
  flex-grow: 1;

  @include respond-min($screen-sm) {
    font-size: 1.125rem;
  }
}

.article__aside {
  flex: 0 0 200px;

  @include respond-max($screen-sm) {
    margin-top: 50px;
  }
}

.article__text {
  h2 {
    text-transform: uppercase;
    font-size: 1.25rem;
    color: $color-main;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
}
