html {
  @extend %font-greta;
  font-size: 16px;
  line-height: 1.4;
}

body {
  padding-top: 60px;
  color: $color-text;

  @include respond-min($screen-md) {
    padding-top: 115px;
  }
}

main {
  position: relative;
  z-index: 100;
  padding-top: 40px;
  background-color: #fff;
}

p {
  line-height: 1.8;
}

strong {
  font-family: "Greta Text Bold 3";
}
