.button {
  display: inline-flex;
  align-items: center;
  font-family: "Greta Text Bold 3";
  text-transform: uppercase;
  color: $color-darkgray;
}

.button--white {
  color: #fff;
}

.button--arrow {
  &:hover {
    color: $color-main;
  }
}