.sr-only {
  display: none !important;
}

.color-main {
  color: $color-main !important;
}

.responsive-image-wrapper {
  position: relative;
  aspect-ratio: 16 / 9;

  @include respond-min($screen-sm) {
    aspect-ratio: 4 / 3;
  }
}

.responsive-image-wrapper--16-9 {
  aspect-ratio: 16 / 9;
}

.responsive-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
