.legal {
  padding-left: 100px;
  padding-right: 50px;
  padding-top: 70px;
}

.legal__block {
  display: flex;
  gap: 60px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.legal__headline {
  @extend %font-blair;
  flex: 0 0 30%;
  margin-top: 3px;
  text-align: right;
  font-size: 0.75rem;
  color: $color-main;
  font-weight: bold;
}

.legal__text {
  flex-grow: 1;
}
