.legal {
  padding-top: 40px;

  @include respond-min($screen-md) {
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 50px;
  }
}

.legal__block {
  @include respond-min($screen-md) {
    display: flex;
    gap: 60px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.legal__headline {
  @extend %font-blair;
  font-size: 0.75rem;
  color: $color-main;
  font-weight: bold;

  @include respond-max($screen-md) {
    margin-bottom: 1.3em;
  }

  @include respond-min($screen-md) {
    flex: 0 0 30%;
    margin-top: 3px;
    text-align: right;
  }
}

.legal__text {
  flex-grow: 1;
}
