.location-map {
  display: block;
  margin-top: 20px;
  position: relative;
  align-items: center;
}

.location-map__image-wrapper {
  @include respond-min($screen-sm) {
    aspect-ratio: 16 / 6;    
  }
}

.location-map__marker {
  position: absolute;
  z-index: 50;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-50%);
  transition: transform $transition-speed;
}

.location-map__marker-text {
  font-family: "Greta Text Bold 3";
  color: $color-darkgray;
  transition: opacity $transition-speed;
}

.location-map__marker:hover .location-map__marker-text {
  color: $color-main;
}

.location-map__marker-icon {
  margin: 0 auto;

  @include respond-max($screen-sm) {
    width: 80px !important;
    height: 80px !important;
  }
}