.person__image-wrapper {
  display: flex;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid $color-main;
  background-color: #fff;
  margin-bottom: 25px;

  @include respond-min($screen-sm) {
    margin-bottom: 45px;
  }
}

.person__image {
  position: absolute;
  display: block;
  width: calc(100% - 26px);
  height: calc(100% - 26px);
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 100%;
  border: 1px solid $color-main;
}

.person__name {
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-main;
  margin-bottom: 15px;
}

.person__position {
  @extend %font-blair;
  font-size: 0.9rem;
}

.person__contact {
  margin-top: 20px;
}

.person__contact-item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
