.section {
  padding: 60px 0;

  @include respond-min($screen-sm) {
    padding: 80px 0;
  }

  @include respond-min($screen-md) {
    padding: 120px 0;
  }
}

.section--topspace-halve {
  padding-top: 35px;

  @include respond-min($screen-sm) {
    padding-top: 70px;
  }
}

.section--topspace-none {
  padding-top: 0;
}

.section--bottomspace-halve {
  padding-bottom: 30px;

  @include respond-min($screen-sm) {
    padding-bottom: 70px;
  }
}

.section--bottomspace-none {
  padding-bottom: 0;
}

.section--topspace-x2 {
  padding-top: 240px;
}

.section--bottomspace-x2 {
  @include respond-min($screen-sm) {
    padding-bottom: 240px;
  }
}

.section--bg-lightgray {
  background-color: $color-lightgray;
}

.section--half-bg {
  background: linear-gradient(to bottom, transparent, transparent 50%, $color-darkgray 50%, $color-darkgray 100%);
}

.section__title {
  position: relative;
  display: flex;
  justify-content: center;
  color: $color-darkgray;
  background: url("../images/section-title-line.svg") no-repeat -100px calc(50% + 1px);

  @include respond-min($screen-sm) {
    justify-content: flex-start;
  }

  @include respond-min($screen-md) {
    justify-content: flex-end;
  }
}

.section__title--arrow {
  @include respond-min($screen-sm) {
    background-position: left calc(50% + 1px);
  }
}

@include respond-min($screen-md) {
  .section__title--text-left {
    justify-content: flex-start;
  }

  .section__title--text-center {
    justify-content: center;
  }
}

.section__title-text {
  text-transform: uppercase;
  background-color: #fff;
  padding: 0 20px;

  @include respond-max($screen-md) {
    margin-left: 50px;
  }

  @include respond-max($screen-sm) {
    margin-left: 0;
  }

  @include respond-min($screen-sm) {
    font-size: 1.25rem;
  }

  @include respond-min($screen-md) {
    margin-right: 215px;
  }
}

@include respond-min($screen-md) {
  .section__title--text-left .section__title-text {
    margin-left: 125px;
  }
  
  .section__title--text-center .section__title-text {
    margin-right: 0;
  }  
}
