.single-slider {
  position: relative;
}

.single-slider__image-wrapper {
  aspect-ratio: 16 / 8;
}

.single-slider__link {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.single-slider__thumb-slider {
  margin-top: 10px;
}

.single-slider__image-icon {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
}
