.single-project__info {
  padding-top: 40px;

  @include respond-min($screen-sm) {
    padding-top: 60px;
  }

  @include respond-min($screen-md) {
    padding: 60px 90px 0 90px;  
  }
}

.single-project__text-col {
  @include respond-max($screen-sm) {
    order: -1;
    margin-bottom: 50px;
  }
}

.single-project__microlage {
  padding-top: 50px;
}

.single-project__microlage-image-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.single-project__microlage-image {
  width: 100%;
  height: auto;
}

.single-project__sales-section {
  margin-top: 100px;

  .text-image__button {
    margin-top: 120px;
  }

  .text-image__content {
    flex: 0 0 40%;
  }

  .text-image__media {
    flex: 0 0 60%;
  }
}

.single-project__back-section {
  text-align: center;
}

.single-project__back-button {
  transition: none !important;

  @include respond-max($screen-md) {
    margin-bottom: 50px;
  }
}