.site-header,
.site-header__content {
  max-width: 1140px;
  aspect-ratio: 16 / 8;
}

.site-header {
  position: relative;
}

.site-header__content {
  @extend .container;
  position: fixed;
  left: 50%;
  display: flex;
  width: 100%;
  transform: translateX(-50%);
  aspect-ratio: 16 / 8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-header__content--centered {
  text-align: center;
}

.site-header--bg-lightgray .site-header__content {
  background-color: $color-lightgray;
}

.site-header__content .single-slider {
  width: 100%;
  height: 100%;
}

.site-header__headline {
  @extend %font-blair;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 2.815rem;
  font-weight: bold;
  color: $color-darkgray;
}
