.slider__nav-buttons {
  display: flex;
}

body .slider__button {
  @extend .pagination__button;
}

.slider__nav-buttons--centered .slider__button {
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -20px;
  border: none;

  &:after {
    font-size: 20px;
    color: $color-main;
  }

  &:hover:after {
    color: #000;
  }
}

.slider__nav-buttons--centered .slider__button--prev {
  left: -70px;
  animation: bounce-prev 1s infinite;
}

.slider__nav-buttons--centered .slider__button--next {
  right: -70px;
  animation: bounce-next 1s infinite;
}

.slider__nav-buttons--white .slider__button {
  border-color: #fff;

  &:after {
    color: #fff;
  }
}

body .slider__button--prev:after {
  @extend .pagination__button--prev;
}

body .slider__nav-buttons--centered .slider__button--prev:after {
  content: "\e904";
}

body .slider__button--next:after {
  @extend .pagination__button--next;
}

body .slider__nav-buttons--centered .slider__button--next:after {
  content: "\e905";
}

@keyframes bounce-prev {
  0%     { transform: translateX(0); }
  50%    { transform: translateX(-5px); }
  100%   { transform: translateX(0); }
}

@keyframes bounce-next {
  0%     { transform: translateX(0); }
  50%    { transform: translateX(5px); }
  100%   { transform: translateX(0); }
}
