.text-image {
  display: flex;
}

.text-image--bg-darkgray {
  background-color: $color-darkgray;
}

.text-image__content,
.text-image__media {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.text-image__content {
  padding-right: 60px;
}

.text-image__headline {
  @extend %font-blair;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-darkgray;
  line-height: 1.6;
  margin-bottom: 1em;
}

.text-image__button {
  display: inline-block;
  font-size: 1.065rem;
  margin-top: 40px;
}

.text-image--image-offset .text-image__media {
  margin-top: -140px;
}
