.text-section {
  padding-top: 60px;

  @include respond-min($screen-sm) {
    padding-top: 130px;
    text-align: center;
  }
}

.text-section__roof {
  @extend %font-blair;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 3em;
  color: $color-darkgray;
}

.text-section__headline {
  @extend %font-blair;
  font-weight: bold;
  line-height: 1.7;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: $color-darkgray;

  @include respond-min($screen-sm) {
    margin-bottom: 60px;
    font-size: 1.25rem;
  }
}

.text-section__headline--alt {
  color: $color-main;
  margin-bottom: 20px;
}

.text-section__headline--lg {
  line-height: 1.5;
  
  @include respond-min($screen-sm) {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }
}

.text-section__text {
  @include respond-min($screen-sm) {
    max-width: 600px;
    margin: 0 auto;
  }
}

.text-section__text--narrow {
  max-width: 465px;
}

.text-section__buttons {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: space-between;
  overflow: hidden;

  @include respond-max($screen-sm) {
    text-align: center;
  }
}

.text-section__buttons-item {
  flex-basis: 100%;
}

.text-section__buttons-anchor {
  display: block;
}

.text-section__buttons-icon-wrapper {
  display: flex;
  justify-content: center;
}

.text-section__buttons-icon {
  height: 45px;
  width: auto;
}

.text-section__buttons-text {
  margin-top: 25px;
  font-family: "Greta Text Bold 3";
  text-transform: uppercase;
  color: $color-darkgray;
}

.text-section__buttons-anchor:hover .text-section__buttons-text {
  color: $color-main;
}
